In [1]:
import pandas as pd

# Specify the file path using a raw string (r)
file_path = r'D:\Data\23-24\Financial\WS_DEBT_SEC2_PUB_csv_col.csv'  # Replace with your file path

# Load the dataset
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(data.head())

# Display general information about the dataset
print("\nGeneral Information:")
print(data.info())

# Display the number of missing values in each column
print("\nMissing Values in Each Column:")
print(data.isnull().sum())

# Display the number of duplicated rows
print("\nNumber of Duplicated Rows:")
print(data.duplicated().sum())

# Display summary statistics for numerical columns
print("\nSummary Statistics for Numerical Columns:")
print(data.describe())

# Check if any columns potentially represent dates
date_columns = [col for col in data.columns if 'date' in col.lower() or 'time' in col.lower()]
if date_columns:
    print("\nPotential Date Columns:", date_columns)
else:
    print("\nNo obvious date columns found. You may need to specify or create a time index.")

# If a date column exists, check if it is correctly set as datetime
for date_col in date_columns:
    if not pd.api.types.is_datetime64_any_dtype(data[date_col]):
        try:
            data[date_col] = pd.to_datetime(data[date_col])
            print(f"\nColumn '{date_col}' successfully converted to datetime format.")
        except Exception as e:
            print(f"\nColumn '{date_col}' could not be converted to datetime format. Error: {e}")
    else:
        print(f"\nColumn '{date_col}' is already in datetime format.")

# Check if the date column is sorted chronologically
if date_columns:
    for date_col in date_columns:
        sorted_check = data[date_col].is_monotonic_increasing
        if sorted_check:
            print(f"\nThe data in column '{date_col}' is sorted in chronological order.")
        else:
            print(f"\nThe data in column '{date_col}' is NOT sorted in chronological order. Consider sorting it.")

# Check for unique timestamps in the date column to determine if it is suitable for a time series
if date_columns:
    for date_col in date_columns:
        unique_dates = data[date_col].nunique()
        total_rows = len(data)
        if unique_dates == total_rows:
            print(f"\nEach row in column '{date_col}' has a unique timestamp, suitable for time series.")
        else:
            print(f"\nColumn '{date_col}' has repeated timestamps, which may not be ideal for a time series.")

# Display the number of unique values in each column to understand the nature of categorical data
print("\nUnique Values in Each Column:")
unique_values = {col: data[col].nunique() for col in data.columns}
print(unique_values)

First few rows of the dataset:
  FREQ  Frequency ISSUER_RES                   Issuer residence ISSUER_NAT  \
0    Q  Quarterly         3P  All countries excluding residents         SE
1    Q  Quarterly         TW                     Chinese Taipei         3P
2    Q  Quarterly         5R                Developed countries         3P
3    Q  Quarterly         AM                            Armenia         3P
4    Q  Quarterly         AM                            Armenia         3P

                  Issuer nationality ISSUER_BUS_IMM  \
0                             Sweden              1
1  All countries excluding residents              J
2  All countries excluding residents              7
3  All countries excluding residents              B
4  All countries excluding residents              B

  Issuer sector - immediate borrower ISSUER_BUS_ULT  \
0                        All issuers              J
1         Non-financial corporations              1
2                       Central bank              1
3             Financial corporations              1
4             Financial corporations              1

  Issuer sector - ultimate borrower  ... 2022-Q1 2022-Q2 2022-Q3 2022-Q4  \
0        Non-financial corporations  ...  4119.0  2797.0  3987.0  3983.0
1                       All issuers  ...  1000.0  1180.0  1610.0  1310.0
2                       All issuers  ...     NaN     NaN   604.0     NaN
3                       All issuers  ...     NaN     NaN     NaN     NaN
4                       All issuers  ...   300.0   300.0   300.0   300.0

  2023-Q1 2023-Q2 2023-Q3 2023-Q4 2024-Q1 2024-Q2
0  2106.0  2034.0  1398.0  2935.0   850.0   968.0
1  2432.0  2252.0  1822.0  1522.0   100.0   100.0
2   858.0   490.0   571.0   973.0  1836.0  2003.0
3     NaN     NaN     NaN     NaN     NaN     NaN
4   300.0   300.0   300.0   300.0   300.0   300.0

[5 rows x 282 columns]

General Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221022 entries, 0 to 221021
Columns: 282 entries, FREQ to 2024-Q2
dtypes: float64(251), object(31)
memory usage: 475.5+ MB
None

Missing Values in Each Column:
FREQ                    0
Frequency               0
ISSUER_RES            128
Issuer residence        0
ISSUER_NAT            128
                    ...
2023-Q2             90535
2023-Q3             92542
2023-Q4             92487
2024-Q1             91015
2024-Q2             91037
Length: 282, dtype: int64

Number of Duplicated Rows:
0

Summary Statistics for Numerical Columns:
       COLLECTION  Collection Indicator  TIME_FORMAT  Time Format     1962-Q4  \
count         0.0                   0.0          0.0          0.0  355.000000
mean          NaN                   NaN          NaN          NaN    4.512676
std           NaN                   NaN          NaN          NaN    2.594373
min           NaN                   NaN          NaN          NaN    0.000000
25%           NaN                   NaN          NaN          NaN    6.000000
50%           NaN                   NaN          NaN          NaN    6.000000
75%           NaN                   NaN          NaN          NaN    6.000000
max           NaN                   NaN          NaN          NaN    6.000000

          1963-Q1     1963-Q2     1963-Q3     1963-Q4     1964-Q1  ...  \
count  177.000000  177.000000  177.000000  177.000000  177.000000  ...
mean     3.016949    3.016949    3.016949    3.016949    3.016949  ...
std      3.008463    3.008463    3.008463    3.008463    3.008463  ...
min      0.000000    0.000000    0.000000    0.000000    0.000000  ...
25%      0.000000    0.000000    0.000000    0.000000    0.000000  ...
50%      6.000000    6.000000    6.000000    6.000000    6.000000  ...
75%      6.000000    6.000000    6.000000    6.000000    6.000000  ...
max      6.000000    6.000000    6.000000    6.000000    6.000000  ...

            2022-Q1       2022-Q2       2022-Q3       2022-Q4       2023-Q1  \
count  1.294300e+05  1.280000e+05  1.267140e+05  1.289930e+05  1.299790e+05
mean   5.174545e+04  5.018827e+04  4.878802e+04  4.999411e+04  5.218817e+04
std    4.242850e+05  4.151465e+05  4.057894e+05  4.199930e+05  4.285423e+05
min   -4.277500e+04 -8.336100e+04 -7.074900e+04 -5.499300e+04 -3.751400e+04
25%    4.400000e+01  4.000000e+01  3.300000e+01  3.000000e+01  5.700000e+01
50%    1.273500e+03  1.195000e+03  1.018000e+03  1.079000e+03  1.335000e+03
75%    9.355000e+03  8.700000e+03  8.261000e+03  8.390000e+03  9.523000e+03
max    2.778699e+07  2.692266e+07  2.608814e+07  2.735002e+07  2.800883e+07

            2023-Q2       2023-Q3       2023-Q4       2024-Q1       2024-Q2
count  1.304870e+05  1.284800e+05  1.285350e+05  1.300070e+05  1.299850e+05
mean   5.194271e+04  5.191750e+04  5.337841e+04  5.433387e+04  5.379788e+04
std    4.307067e+05  4.303119e+05  4.413895e+05  4.410169e+05  4.429315e+05
min   -4.933000e+04 -3.926600e+04 -4.830800e+04 -5.379900e+04 -4.596300e+04
25%    6.000000e+01  4.800000e+01  7.500000e+01  1.000000e+02  7.500000e+01
50%    1.295000e+03  1.218000e+03  1.446000e+03  1.631000e+03  1.400000e+03
75%    9.075000e+03  8.945000e+03  9.144000e+03  1.068700e+04  9.720000e+03
max    2.823401e+07  2.798179e+07  2.877748e+07  2.891768e+07  2.907902e+07

[8 rows x 251 columns]

Potential Date Columns: ['TIME_FORMAT', 'Time Format']

Column 'TIME_FORMAT' successfully converted to datetime format.

Column 'Time Format' successfully converted to datetime format.

The data in column 'TIME_FORMAT' is NOT sorted in chronological order. Consider sorting it.

The data in column 'Time Format' is NOT sorted in chronological order. Consider sorting it.

Column 'TIME_FORMAT' has repeated timestamps, which may not be ideal for a time series.

Column 'Time Format' has repeated timestamps, which may not be ideal for a time series.

Unique Values in Each Column:
{'FREQ': 1, 'Frequency': 1, 'ISSUER_RES': 168, 'Issuer residence': 169, 'ISSUER_NAT': 165, 'Issuer nationality': 166, 'ISSUER_BUS_IMM': 10, 'Issuer sector - immediate borrower': 10, 'ISSUER_BUS_ULT': 10, 'Issuer sector - ultimate borrower': 10, 'MARKET': 1, 'Issue market': 1, 'ISSUE_TYPE': 1, 'Issue type': 1, 'ISSUE_CUR_GROUP': 3, 'Issue currency group': 3, 'ISSUE_CUR': 65, 'Issue currency': 65, 'ISSUE_OR_MAT': 3, 'Original maturity': 3, 'ISSUE_RE_MAT': 2, 'Remaining maturity': 2, 'ISSUE_RATE': 2, 'Rate type': 2, 'ISSUE_RISK': 1, 'Default risk (for future expansion)': 1, 'ISSUE_COL': 1, 'Collateral type (for future expansion)': 1, 'MEASURE': 3, 'Measure': 3, 'COLLECTION': 0, 'Collection Indicator': 0, 'TIME_FORMAT': 0, 'Time Format': 0, 'Series': 221022, '1962-Q4': 2, '1963-Q1': 2, '1963-Q2': 2, '1963-Q3': 2, '1963-Q4': 2, '1964-Q1': 2, '1964-Q2': 2, '1964-Q3': 2, '1964-Q4': 2, '1965-Q1': 2, '1965-Q2': 2, '1965-Q3': 2, '1965-Q4': 2, '1966-Q1': 14, '1966-Q2': 22, '1966-Q3': 25, '1966-Q4': 23, '1967-Q1': 34, '1967-Q2': 45, '1967-Q3': 42, '1967-Q4': 45, '1968-Q1': 57, '1968-Q2': 72, '1968-Q3': 75, '1968-Q4': 80, '1969-Q1': 86, '1969-Q2': 79, '1969-Q3': 76, '1969-Q4': 80, '1970-Q1': 95, '1970-Q2': 98, '1970-Q3': 101, '1970-Q4': 98, '1971-Q1': 208, '1971-Q2': 216, '1971-Q3': 201, '1971-Q4': 298, '1972-Q1': 408, '1972-Q2': 493, '1972-Q3': 536, '1972-Q4': 608, '1973-Q1': 655, '1973-Q2': 664, '1973-Q3': 682, '1973-Q4': 722, '1974-Q1': 714, '1974-Q2': 731, '1974-Q3': 775, '1974-Q4': 807, '1975-Q1': 905, '1975-Q2': 970, '1975-Q3': 944, '1975-Q4': 1018, '1976-Q1': 1087, '1976-Q2': 1171, '1976-Q3': 1193, '1976-Q4': 1287, '1977-Q1': 1313, '1977-Q2': 1440, '1977-Q3': 1466, '1977-Q4': 1552, '1978-Q1': 1544, '1978-Q2': 1607, '1978-Q3': 1649, '1978-Q4': 1668, '1979-Q1': 1745, '1979-Q2': 1791, '1979-Q3': 1872, '1979-Q4': 1882, '1980-Q1': 1833, '1980-Q2': 2018, '1980-Q3': 2003, '1980-Q4': 2076, '1981-Q1': 2032, '1981-Q2': 2067, '1981-Q3': 2129, '1981-Q4': 2231, '1982-Q1': 2323, '1982-Q2': 2350, '1982-Q3': 2371, '1982-Q4': 2420, '1983-Q1': 2480, '1983-Q2': 2511, '1983-Q3': 2392, '1983-Q4': 2567, '1984-Q1': 2650, '1984-Q2': 2581, '1984-Q3': 2695, '1984-Q4': 2976, '1985-Q1': 3072, '1985-Q2': 3192, '1985-Q3': 3315, '1985-Q4': 3643, '1986-Q1': 3473, '1986-Q2': 3693, '1986-Q3': 3735, '1986-Q4': 3873, '1987-Q1': 4136, '1987-Q2': 4164, '1987-Q3': 4087, '1987-Q4': 4213, '1988-Q1': 4212, '1988-Q2': 4320, '1988-Q3': 4417, '1988-Q4': 4509, '1989-Q1': 4561, '1989-Q2': 4483, '1989-Q3': 4613, '1989-Q4': 4747, '1990-Q1': 4886, '1990-Q2': 4912, '1990-Q3': 5027, '1990-Q4': 5305, '1991-Q1': 5286, '1991-Q2': 5361, '1991-Q3': 5371, '1991-Q4': 5595, '1992-Q1': 5762, '1992-Q2': 5769, '1992-Q3': 5661, '1992-Q4': 5869, '1993-Q1': 5968, '1993-Q2': 6124, '1993-Q3': 10870, '1993-Q4': 11255, '1994-Q1': 11535, '1994-Q2': 11433, '1994-Q3': 11598, '1994-Q4': 11949, '1995-Q1': 12089, '1995-Q2': 11877, '1995-Q3': 12131, '1995-Q4': 12624, '1996-Q1': 13098, '1996-Q2': 13356, '1996-Q3': 13348, '1996-Q4': 13837, '1997-Q1': 13736, '1997-Q2': 14017, '1997-Q3': 14124, '1997-Q4': 14113, '1998-Q1': 14512, '1998-Q2': 14847, '1998-Q3': 14783, '1998-Q4': 15058, '1999-Q1': 15536, '1999-Q2': 15750, '1999-Q3': 16045, '1999-Q4': 15990, '2000-Q1': 16422, '2000-Q2': 16535, '2000-Q3': 16803, '2000-Q4': 17113, '2001-Q1': 17494, '2001-Q2': 17831, '2001-Q3': 17423, '2001-Q4': 17501, '2002-Q1': 17483, '2002-Q2': 17964, '2002-Q3': 17679, '2002-Q4': 18053, '2003-Q1': 18618, '2003-Q2': 19087, '2003-Q3': 19179, '2003-Q4': 19400, '2004-Q1': 19847, '2004-Q2': 19727, '2004-Q3': 19795, '2004-Q4': 20387, '2005-Q1': 20560, '2005-Q2': 20679, '2005-Q3': 20328, '2005-Q4': 20921, '2006-Q1': 21185, '2006-Q2': 21774, '2006-Q3': 21756, '2006-Q4': 22792, '2007-Q1': 22903, '2007-Q2': 23548, '2007-Q3': 23348, '2007-Q4': 23581, '2008-Q1': 23675, '2008-Q2': 24631, '2008-Q3': 23854, '2008-Q4': 23952, '2009-Q1': 23797, '2009-Q2': 23982, '2009-Q3': 23638, '2009-Q4': 23937, '2010-Q1': 23484, '2010-Q2': 23753, '2010-Q3': 23612, '2010-Q4': 23713, '2011-Q1': 24263, '2011-Q2': 24723, '2011-Q3': 23637, '2011-Q4': 23827, '2012-Q1': 25066, '2012-Q2': 24665, '2012-Q3': 24633, '2012-Q4': 25013, '2013-Q1': 24694, '2013-Q2': 25213, '2013-Q3': 24733, '2013-Q4': 25594, '2014-Q1': 25510, '2014-Q2': 26160, '2014-Q3': 25797, '2014-Q4': 25668, '2015-Q1': 25430, '2015-Q2': 25907, '2015-Q3': 25252, '2015-Q4': 25262, '2016-Q1': 25736, '2016-Q2': 25888, '2016-Q3': 25574, '2016-Q4': 25491, '2017-Q1': 26128, '2017-Q2': 26384, '2017-Q3': 25752, '2017-Q4': 26081, '2018-Q1': 26165, '2018-Q2': 26304, '2018-Q3': 26090, '2018-Q4': 26005, '2019-Q1': 26596, '2019-Q2': 27024, '2019-Q3': 26880, '2019-Q4': 26773, '2020-Q1': 27266, '2020-Q2': 27681, '2020-Q3': 27172, '2020-Q4': 27199, '2021-Q1': 27152, '2021-Q2': 27180, '2021-Q3': 26519, '2021-Q4': 26918, '2022-Q1': 27572, '2022-Q2': 27072, '2022-Q3': 26777, '2022-Q4': 26579, '2023-Q1': 27332, '2023-Q2': 27392, '2023-Q3': 27084, '2023-Q4': 26977, '2024-Q1': 28012, '2024-Q2': 27654}